/* Estilos generales */
body {
    font-family: 'The Seasons', serif;
    margin: 0;
    padding: 0;
    color: #182126;
}

/* Barra superior */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #37060fde;
    height: 50px; /* Ajuste para que el logo y el menú queden centrados */
}

.logo img {
    height: 80px; /* Ajusta la altura del logo */
    max-width: 100%;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 1.5rem;
    font-size: 1.4rem;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s, transform 0.3s;
}

.menu a:hover {
    color: #F2A922;
    transform: scale(1.1);
}

/* Carrito */
.carrito img {
    height: 30px;
}

/* Hero */
.hero {
    position: relative;
    height: 690px;
    overflow: hidden;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #1b7439cc;
    padding: 2rem 3rem;
    border-radius: 10px;
    z-index: 2;
}

.hero-text h1 {
    font-size: 3.5rem;
    color: #F2A922;
}

.hero-text p {
    font-size: 1.9rem;
    color: #ffffff;
}

.btn {
    display: block;
    margin: 2rem auto;
    padding: 0.8rem 1.5rem;
    background-color: #8C0335;
    color: #F0F0F0;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
}

.btn:hover {
    background-color: #F2A922;
    color: #75032c;
}

/* Estilos para la sección "Sobre Nosotros" */
.sobre-nosotros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #e9a846a3;
}

.texto-sobre-nosotros {
    flex: 1;
    padding-right: 2rem;
    font-size: 1.8rem; /* Tamaño grande para destacar */
    text-align: center; /* Centrado */
    color: #510421; /* Color consistente con el estilo del sitio */
    margin-bottom: 1.5rem; /* Espaciado inferior */
    text-transform: initial; /* Mayúsculas para mayor énfasis */
    letter-spacing: 1px; /* Espaciado entre letras */
}

.imagen-sobre-nosotros img {
    width: 100%;
    max-width: 400px; /* Ajusta el tamaño de la imagen */
    height: auto;
}

/* Estilos para la sección "Nuestros Valores" */
.nuestros-valores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #c88a2ebb
}

.imagen-nuestros-valores img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.texto-nuestros-valores {
    flex: 1;
    padding-left: 2rem;
    font-size: 1.777777rem; /* Tamaño grande para destacar */
    text-align: center; /* Centrado */
    color: #510421; /* Color consistente con el estilo del sitio */
    margin-bottom: 1.5rem; /* Espaciado inferior */
    text-transform: initial; /* Mayúsculas para mayor énfasis */
    letter-spacing: 1px; /* Espaciado entre letras */
}

#nosotros h2, #nosotros h3 {
    text-align: left; /* Alinea los títulos a la izquierda */
}

#nosotros p, #nosotros ul {
    text-align: justify;
}

#nosotros ul li {
    margin-bottom: 1rem;
}


/* Contacto */
#contacto {
    padding: 2rem 1rem;
    text-align: center;
    background-color: #8C0335;
    color: white;
}

#contacto a {
    color: #F2A922;
    text-decoration: none;
}

#contacto a:hover {
    text-decoration: underline;
}

.redes-sociales {
    margin-top: 1rem;
}

.redes-sociales a {
    margin: 0 1rem;
    display: inline-block;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #182126;
    color: white;
}
